In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("StudentsPerformance.csv")

In [25]:
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

In [32]:
gender_count=data.groupby("gender").count()
gender_count['lunch']

gender
female    518
male      482
Name: lunch, dtype: int64

# parental level education

In [36]:
parentallevel_edu=data.groupby("parental level of education").count()
parentallevel_edu['gender']

parental level of education
associate's degree    222
bachelor's degree     118
high school           196
master's degree        59
some college          226
some high school      179
Name: gender, dtype: int64

In [38]:
data.groupby('gender')['math score'].mean().sort_values(ascending=False).head(1)

gender
male    68.821577
Name: math score, dtype: float64

In [40]:
data.groupby('gender')['reading score'].mean().sort_values(ascending=False).head(1)

gender
female    72.590734
Name: reading score, dtype: float64

In [41]:
data.groupby('gender')['writing score'].mean().sort_values(ascending=False).head(1)

gender
female    72.467181
Name: writing score, dtype: float64

In [44]:
data.groupby('test preparation course')['math score'].mean().sort_values(ascending=False).head(1)

test preparation course
completed    69.96648
Name: math score, dtype: float64

In [45]:
data.groupby('test preparation course')['writing score'].mean().sort_values(ascending=False).head(1)

test preparation course
completed    74.684358
Name: writing score, dtype: float64

In [46]:
data.groupby('test preparation course')['reading score'].mean().sort_values(ascending=False).head(1)

test preparation course
completed    74.175978
Name: reading score, dtype: float64

In [47]:
data.groupby('gender')['math score'].std().sort_values(ascending=False).head(1)

gender
female    16.029928
Name: math score, dtype: float64

In [48]:
data.groupby('gender')['reading score'].std().sort_values(ascending=False).head(1)

gender
female    14.411018
Name: reading score, dtype: float64

In [49]:
data.groupby('gender')['writing score'].std().sort_values(ascending=False).head(1)

gender
female    14.844842
Name: writing score, dtype: float64

In [51]:
data.groupby('test preparation course')['math score'].std().sort_values(ascending=False).head(1)

test preparation course
none    15.705689
Name: math score, dtype: float64

In [52]:
data.groupby('test preparation course')['reading score'].std().sort_values(ascending=False).head(1)

test preparation course
none    14.608896
Name: reading score, dtype: float64

In [53]:
data.groupby('test preparation course')['writing score'].std().sort_values(ascending=False).head(1)

test preparation course
none    15.041667
Name: writing score, dtype: float64

# students getting bonus points

In [58]:
bonus=data.sort_values(by=['math score'])

In [59]:
bonus["gender"][0:24]

0      female
1      female
3      female
51     female
2      female
8      female
4      female
20     female
5      female
6      female
40     female
19     female
7      female
18     female
518      male
519      male
11     female
10     female
9      female
520      male
521      male
47     female
522      male
35     female
Name: gender, dtype: object